body {
  font-family:'Courier New', Courier, monospace
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px;
 
}

.logo-title {
  display: flex;
  align-items:baseline;
}

.logo, .search-button {
  height: 30px;
}

h1 {
  font-size: medium;
}

.text-decoration-none {
  text-decoration: none;
  color: #000;
}

input {
  width: 800px;
  margin-right: 100px;
  text-align: center;
  font-weight: 900;
}

input::placeholder {
  font-style: italic;
  font-weight: 100;
}

.bottom-row {
  display: flex;
}

button {
  border: 1px solid #000;
  background-color: #ffffff;
}

.login-btn {
  margin-left: 5px;
}

/* .login-btn {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 5px
} */

                 /* falling lines */

  .falling-lines {
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    /* margin: auto; */
    width: 100vw;
    padding: 0
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00ffff 75%, #00ffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  .line:nth-child(1) {
    margin-left: -25%;
  }
  
  .line:nth-child(1)::after {
    animation-delay: 2s;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffff00 75%, #ffff00 100%);
  }
  
  .line:nth-child(3) {
    margin-left: 25%;
  }
  
  .line:nth-child(3)::after {
    animation-delay: 2.5s;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ff00ff 75%, #ff00ff 100%);
  }

  /* .line:nth-child(4) {
    margin-left: 15%;
  }

  .line:nth-child(4)::after {
    animation-delay: 1.5s;
  } */
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  .text-div {
    display: flex;
    justify-content: space-around;
  }

  .text-div > p {
    color: white;
    font-size: larger;
    margin-top: 200px;
    font-family: 'Courier New', Courier, monospace;
  }

  .text-div p:nth-child(3){
    margin-right: 30px;
  }

.category-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 50px;
  column-gap: 40px;
  row-gap: 40px;
}

button:hover {
  animation-name: rainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0%   {background-color:rgb(0, 255, 255)}
  25%  {background-color:rgb(255, 255, 0)}
  50%  {background-color:rgb(255, 0, 255)}
  75%  {background-color:rgb(0, 0, 0); color: white}
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  margin: 20px 5px 0px 5px;
  align-self:
}

.footer > p {
  color: white;
  margin: 0%;
}

                    /* flicker background*/
/* @font-face {
    font-family: "Geist";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
  } */
  
  /* .flicker {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0, 0%, 0%);
    --size: 20px;
    box-sizing: border-box;
  }
  
  .el {
    background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#eec32d 72.0000010728836deg,#ec4b4b 144.0000021457672deg,#709ab9 216.00000858306885deg,#4dffbf 288.0000042915344deg,hsla(0,0%,98%,1) 1turn);
    width: 100%;
    height: 100%;
    mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;

  }
  
.test {
    top: 10%;
    left: 10%;
    translate: -50% -2000%;
    margin: 0;
    font-family: "Geist", sans-serif;
    font-weight: 140;
    /* color: hsl(0, 100%, 50%); */
    /* mix-blend-mode: soft-light;
    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
    text-shadow: 2px 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  
  @keyframes flicker {
    to {
      mask-position: 50% 50%, 0 50%;
    }
  }  */